<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">
<head>
    <title th:text="${title}"></title>
</head>
<div th:insert="blocks/library::library"></div>
<!--<div th:insert="blocks/library::library"></div>-->
<br>
<br>
<div th:insert="blocks/heder-mine::header-mine"></div>
<div class="row">
    <div class="album col-md-12 bg-light" style="background-color: bisque">
        <div class="nav justify-content-center">
            <div class="row col-md-12">
                <div class="col-md-1">
                </div>
                <div class="col-md-10">
                    <div th:each="el:${image}" class="alert mt-2">
                        <img class="mx-auto d-block" th:src="'data:image/jpg;base64,' + ${el}"
                             style="width:100%" alt="English starter"/>
                    </div>
                    <h4>Класифікація рівнів за традиційною методикою вивчення англійської, як другої мови (ESL levels):</h4>
                    <ol>
                        <li><b>Beginners / Elementary (A1) — Початковий / елементарний</b><br>
                            Перший рівень навчання Англійській мові, розрахований на тих, хто ніколи не вивчав Англійської раніше. Слухачі отримують просту лексику з навичками читання, письма й вимови, вивчають базові граматичні конструкції та елементарні мовні звороти.</li>
                        <li><b>Pre-Intermediate / Basic (А2) – Нижче середнього / базовий</b><br>
                            На цьому рівні слухачі навчаються використовувати на практиці основні граматичні конструкції, сприймати Англійську мову на слух. Після закінчення цього рівня слухачі володіють базовими навичками розмовної Англійської мови, можуть спілкуватись на деякі побутові теми і читати адаптовану літературу.</li>
                        <li><b>Intermediate (B1) — Середній</b><br>
                            Навчальний цикл для слухачів із середнім рівнем володіння Англійською мовою. Після закінчення цього рівня слухачі володіють поглибленими знаннями граматики і вміють висловлювати свою точку зору з досить широкого кола питань.</li>
                        <li><b>Upper Intermediate (В2) – Вище середнього</b><br>
                            Рівень, на якому слухачі набувають навичок вільного спілкування і глибоке знання граматики, а також значно поповнюють свій словниковий запас. Слухачі здатні спілкуватись з носіями мови, вільно висловлювати свої думки на будь-які складні повсякденні та абстрактні теми, а також читати неадаптовану літературу.</li>
                        <li><b>Advanced (C1) – Просунутий</b><br>
                            Вільне володіння письмовою та усною мовою як в соціальних, так і в професійних сферах життя.</li>
                        <li><b>Proficient / Expert (C2) – Досвідчений / фахівець</b><br>
                            Це рівень знання мови, яким мають володіти кваліфіковані викладачі.</li>
                    </ol>
                </div>
                <div class="col-md-1">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron " style="background-color: rgba(196,246,255,0.34)">

</div>
<br>
<br>
</html>
