<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"></title>
    <!--    <title th:text="${user}"></title>-->
</head>

<div th:insert="blocks/library::library"></div>
<!--<body>-->

<div class="container"><br>
    <h5 class="text-center">Study page</h5>

    <div class="row">
        <div class="album col-md-12 bg-light" >
            <div class="row col-md-12">
                <div class="col-md-2">
                    <a href="/user-study-word" class="btn btn-info btn-lg btn-block">StudyWord</a>
                    <br>
                    <a href="/user-study-word/repeat" class="btn btn-info btn-lg btn-block">RepeatWord</a>
                    <br>
                    <a href="/user-study-verbs" class="btn btn-warning btn-lg btn-block">StudyVerb</a>
                    <br>
                    <a href="/user-study-verbs/repeat" class="btn btn-info btn-lg btn-block">RepeatVerb</a>
                    <br>
                    <form action="/logout" method="post">
                        <button class="btn btn-lg btn-secondary btn-block" type="submit">LOGOUT</button>
                    </form>
                    <br>

                </div>
                <div class="col-md-10">
                    <div th:each="count:${countLearnedVerbs}">
                        <h6 class="text-right" th:text="'Verbs are learned : '+${count}"></h6>
                    </div>

                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th><h6></h6></th>
                            <th><h6>Infinitive</h6></th>
                            <th><h6>Transcription</h6></th>
                            <th><h6>Past Simple</h6></th>
                            <th><h6>Transcription</h6></th>
                            <th><h6>Past Participle</h6></th>
                            <th><h6>Transcription</h6></th>
                            <th><h6>Translate</h6></th>
                            <th><h6></h6></th>
                            <th><h6></h6></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="verbs, iterator:${verbList}" class="alert alert-info mt-2">
                            <td th:text="${iterator.index+1}"></td>
                            <td><span th:text="${verbs.infinitive}"></span></td>
                            <td><span th:text="${verbs.infinitiveTranscription}"></span></td>
                            <td><span th:text="${verbs.pastSimple}"></span></td>
                            <td><span th:text="${verbs.pastSimpleTranscription}"></span></td>
                            <td><span th:text="${verbs.pastParticiple}"></span></td>
                            <td><span th:text="${verbs.pastParticipleTranscription}"></span></td>
                            <td><span th:text="${verbs.translate}"></span></td>
                            <td><a th:href="'/user-study-verb/'+${verbs.id}+'/learned'"
                                   class="btn btn-warning " tabindex="-1" role="button" aria-disabled="true">Learned</a></td>
                            <td><a th:href="'/user-study-verb/'+${verbs.id}+'/learned-all'"
                                   class="btn btn-info " tabindex="-1" role="button" aria-disabled="true">I_now_it</a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
<!--</body>-->
</html>
