<!DOCTYPE HTML>
<!--<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="an">-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title th:text="${title}"></title>
    <!--    <title th:text="${user}"></title>-->
</head>

<div th:insert="blocks/library::library"></div>
<!--<body>-->

<div class="container"><br>
    <h5 class="text-center alert alert-info">MY HOME</h5>

    <div class="row">
        <div class="album col-md-12 bg-light" style="background-color: bisque">
            <div class="row col-md-12">
                <div class="col-md-4">
                    <a href="/user-study-word" class="btn btn-warning btn-lg btn-block">Study word</a>
                    <br>
                    <a href="/user-study-word/repeat" class="btn btn-info btn-lg btn-block">Repeat</a>
                    <br>
                    <a href="#" class="btn btn-info btn-lg btn-block">Living room</a>
                    <br>
                    <a href="#" class="btn btn-info btn-lg btn-block">Kitchen</a>
                    <br>
                    <form action="/logout" method="post">
                        <button class="btn btn-lg btn-secondary btn-block" type="submit">LOGOUT</button>
                    </form>
                    <br>

                </div>
                <div class="col-md-8">
                    <div th:each="count:${countLearnedWords}">
                        <h6 class="text-right" th:text="'Words are learned : '+${count}"></h6>
                    </div>

                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th><h6>Number</h6></th>
                            <th><h6>English</h6></th>
                            <th><h6>Transcription</h6></th>
                            <th><h6>Translate</h6></th>
<!--                            <th><h6></h6></th>-->
                            <th><h6></h6></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="word, iterator:${wordList}" class="alert alert-info mt-2">
                            <td th:text="${iterator.index+1}"></td>
                            <td><span th:text="${word.english}"></span></td>
                            <td><span th:text="${word.transcription}"></span></td>
                            <td><span th:text="${word.translate}"></span></td>
                            <td><a th:href="'/user-study-word/'+${word.id}+'/learned'"
                                   class="btn btn-warning " tabindex="-1" role="button" aria-disabled="true">LEARNED</a></td>
                        </tr>

                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>

</div>
<!--</body>-->
</html>
